<!DOCTYPE html>
<html>
<!-- <title>W3.CSS Template</title> -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size: 16px;}
img {margin-bottom: -8px;}
.mySlides {display: none;}
</style>
<body class="w3-content w3-black" style="max-width:1500px;">
<!-- Header with Slideshow -->
<header class="w3-display-container w3-center">
  <button class="w3-button w3-block w3-green w3-hide-large w3-hide-medium" onclick="document.getElementById('download').style.display='block'">Download <i class="fa fa-android"></i> <i class="fa fa-apple"></i> <i class="fa fa-windows"></i></button>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="https://boygeniusreport.files.wordpress.com/2017/01/apple-airpods-pairing.jpg?quality=98&strip=all" alt="Image 1" style="min-width:500px" width="1500" height="1000">
<!--
<div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
        <h1 class="w3-xlarge">Take photos with our app</h1>
        <hr class="w3-opacity">
        <p>Super simple installment: free of charge</p>
        <p><button class="w3-button w3-block w3-green w3-round" onclick="document.getElementById('download').style.display='block'">Download <i class="fa fa-android"></i> <i class="fa fa-apple"></i> <i class="fa fa-windows"></i></button></p>
      </div>
    </div>
    -->
  </div>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="/w3images/app2.jpg" alt="Image 2" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
        <h1 class="w3-xlarge w3-text-red"><b>CLICK!</b> Fast and Easy</h1>
        <hr class="w3-opacity">
        <p>Choose from thousands of features</p>
        <p><button class="w3-button w3-block w3-red w3-round" onclick="document.getElementById('download').style.display='block'">Download <i class="fa fa-android"></i> <i class="fa fa-apple"></i> <i class="fa fa-windows"></i></button></p>
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="/w3images/app4.jpg" alt="Image 3" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
        <h1 class="w3-xlarge">Smart Design</h1>
        <hr class="w3-opacity">
        <p>Customize photos as you go</p>
        <p><button class="w3-button w3-block w3-indigo w3-round" onclick="document.getElementById('download').style.display='block'">Download <i class="fa fa-android"></i> <i class="fa fa-apple"></i> <i class="fa fa-windows"></i></button></p>
      </div>
    </div>
  </div>
  
</header>





<!-- The AirPods  Section -->
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">


    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo"><b>AirPods</b></h1>
      <h1 class="w3-xxlarge w3-text-green"><b>Target Audience</b></h1>
      <p><span class="w3-large">Active time: </span>  10am-11am, 8pm-11pm</p>
      <p><span class="w3-large">Location: </span> California, Texas, Florida, New York</p>
      <p><span class="w3-large">Device: </span> iPhone</p>
      <p><span class="w3-large">Interests groups: </span> 
      	<ul>
  			<li>Entertainment: gamer, music</li>
  			<li>Occupation: fan, artist, writer, photographer</li>
  			<li>Technology: tech, online work, engineer</li>
			  <li>Life status: mom, university student, nerd</li>
  		  </ul>
      </p>
    
      <h1  class="w3-xxlarge w3-text-green"><b>Ad Content</b></h1>
      <p><span class="w3-xlarge">
          <ul>
            <li> New AirPods2</li>
            <li>Christmas gift for family and friends</li>
            <li>Good design/features of the AirPods. <br> 
            For example: wireless charging, interchangeable, sensor, smart</li>
          </ul>
         </p>

      <h1 class="w3-xxlarge w3-text-green"><b>Advertiser</b></h1>
      <p><ul>
          <li> @BillRatchet </li>
          <li> @jrico12_</li>
          <li> @_omlar</li>
  		</ul>
      </p> 
    </div>


    <!--Airpods image--> 
    
    <div class="w3-col l4 m6">
      <img src="https://images-na.ssl-images-amazon.com/images/I/41DYtv1JJaL._SX425_.jpg" class="w3-image w3-right w3-hide-xlarge" width="335" height="700"> 
      <div class="w3-center w3-hide-large w3-hide-medium">
        <button class="w3-button w3-block w3-padding-large" onclick="document.getElementById('download').style.display='block'">
          <i class="fa fa-download"></i> Download Application
        </button>
        <img src="/w3images/img_app.jpg" class="w3-image w3-margin-top" width="335" height="471">
      </div>
    </div>
  </div>
</div>


 


<!-- iPad -->
<div class="w3-padding-64 w3-light-grey">
    <div class="w3-row-padding">
      <div class="w3-col l4 m6">
   <!---->     <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="https://s4827.pcdn.co/wp-content/uploads/2018/04/New_Apple_Ads_Highlight_iPad_Apple_Pencil.jpg" alt="App" width="335" height="471">
      </div>
  
         <div class="w3-col l8 m6">
        <h1 class="w3-jumbo"><b>iPad</b></h1>
        <h1 class="w3-xxlarge w3-text-green"><b>Target Audience</b></h1>
        <p><span class="w3-large">Active time: </span> 12pm-1pm </p>
        <p><span class="w3-large">Location: </span> California, Texas, Floridak</p>
        <p><span class="w3-large">Device: </span> No specific device </p>
        <p><span class="w3-large">Interests groups: </span> 
          <ul>
          <li>Entertainment: game, art, book, apple news </li>
          <li>Occupation: artist , editor, mananger,graphical design,creator,veteran,engineer</li>
          <li>Technology: tech, online work</li>
          <li>Life status: mom, university,father</li>
          </ul>
        </p>
      
        <h1  class="w3-xxlarge w3-text-green"><b>Ad Content</b></h1>
        <p><span class="w3-xlarge">
            <ul>
              <li> Good for watch vedio/play games at nighttime</li>
              <li> Tool for artist, sketch friendly</li>
              <li> Christmas gift for kid </li>
            </ul>
           </p>
  
        <h1 class="w3-xxlarge w3-text-green"><b>Advertiser</b></h1>
        <p><ul>
            <li> @andyartsies </li>
            <li> @BuckSexton</li>
            <li> @Procreate</li>
        </ul>
        </p> 
      </div>
  
  
    </div>
  </div>
 



<!-- The Watch Section -->
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">

    
      <div class="w3-col l8 m6">
          <h1 class="w3-jumbo"><b>Watch</b></h1>
          <h1 class="w3-xxlarge w3-text-green"><b>Target Audience</b></h1>
          <p><span class="w3-large">Active time: </span> 8pm-12am</p>
          <p><span class="w3-large">Location: </span> California </p>
          <p><span class="w3-large">Device: </span> iPhone</p>
          <p><span class="w3-large">Interests groups: </span> 
            <ul>
            <li>Entertainment: radio broadcast,sport, music,time</li>
            <li>Occupation: dj, scientist,  writer,consulting</li>
            <li>Interest: health, dog lover</li>
            <li>Life status:  student, mom </li>
            </ul>
          </p>
        
          <h1  class="w3-xxlarge w3-text-green"><b>Ad Content</b></h1>
          <p><span class="w3-xlarge">
              <ul>
                <li> Medical Purposes, userful in tracking heart rate</li>
                <li>Christmas gift </li>
                <li> Convenient in listening to music,download music from iTunes </li>
              </ul>
             </p>
    
          <h1 class="w3-xxlarge w3-text-green"><b>Advertiser</b></h1>
          <p><ul>
              <li> @Apple </li>
              <li>@AppleTV</li>
              <li>@skinit</li>
              <li>@tellesmith</li>
          </ul>
          </p> 
        </div>
    
    
    
    
    
    

    <div class="w3-col l4 m6">
      <img src="https://cdn.arstechnica.net/wp-content/uploads/2015/07/apple.iwatch.1-640x427.jpg" class="w3-image w3-right w3-hide-small" width="335" height="471">
      <div class="w3-center w3-hide-large w3-hide-medium">
        <button class="w3-button w3-block w3-padding-large" onclick="document.getElementById('download').style.display='block'">
          <i class="fa fa-download"></i> Download Application
        </button>
   <!--<img src="/w3images/img_app.jpg" class="w3-image w3-margin-top" width="335" height="471">-->
      </div>
    </div>
  </div>
</div>



<!-- iPhone Section -->
<div class="w3-padding-64 w3-light-grey">
    <div class="w3-row-padding">
      <div class="w3-col l4 m6">
   <!---->     <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="https://snapcraze.co.za/wp-content/uploads/2018/10/xr-yellow.jpg" alt="App" width="335" height="471">
      </div>
  
         <div class="w3-col l8 m6">
        <h1 class="w3-jumbo"><b>iPhone</b></h1>
        <h1 class="w3-xxlarge w3-text-green"><b>Target Audience</b></h1>
        <p><span class="w3-large">Active time: </span> 8pm-12am</p>
        <p><span class="w3-large">Location: </span> California, Texas, Florida,Georgia</p>
        <p><span class="w3-large">Device: </span> iPhone,Andiord</p>
        <p><span class="w3-large">Interests groups: </span> 
          <ul>
          <li>Entertainment: sport, travel,music</li>
          <li> Occupation:  writer, profession, photographer</li>
          <li>Technology: tech, online</li>
          <li>Life status: father, college student </li>
          </ul>
        </p>
      
        <h1  class="w3-xxlarge w3-text-green"><b>Ad Content</b></h1>
        <p><span class="w3-xlarge">
            <ul>
    
             <li>Christmas gift for family and friends</li>
              <li>Good design/features of the new iPhone. <br> 
              For example: camera charging, battery, screen</li>
            </ul>
           </p>
  
        <h1 class="w3-xxlarge w3-text-green"><b>Advertiser</b></h1>
        <p><ul>
            <li> @GalacticoHD </li>
            <li> @Apple</li>
            <li> @ErnieP35</li>
        </ul>
        </p> 
      </div>
  
  
    </div>
  </div>
  

<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</body>
</html>


