<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/4.1/examples/carousel/carousel.css" rel="stylesheet">
</head>

<body class="application">



<header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <!-- <li class="nav-item"> -->
              <a class="nav-link" href="http://35.196.85.28:5000">Home | &nbsp </a>
              <!-- </li> -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav nav-pills">
                    <a class="nav-link active" href="http://35.196.85.28:5000/map">  Target Customers <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="http://35.196.85.28:5000/AirPods-LDA"> &nbsp | Ad Content &nbsp |</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link " href="http://35.196.85.28:8000">Influencer </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="http://35.196.85.28:5000/AirPods_ad">| &nbsp Ads</a>
                  </li>
                </ul>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                <a class="nav-link" href="https://github.com/yh2866/AD-Targeting-for-Apple-Products-on-Twitter">GitHub</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="https://www.youtube.com">YouTube</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="https://www.google.com">Report</a>
                </li>
              </ul>
            </nav>
          </header>

<!-- <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="./">E6893 Big Data Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./map">Map <span class="sr-only">(current)</span></a>
            </li>
            <div class="btn-group">
              <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LDA
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="./iPhone-LDA">iPhone</a>
                <a class="dropdown-item" href="./iPad-LDA">iPad</a>
                <a class="dropdown-item" href="./AirPods-LDA">Airpod</a>
                <a class="dropdown-item" href="./Watch-LDA">Apple Watch</a>
              </div>
            </div>
            <li class="nav-item active">
              <a class="nav-link" href="http://35.196.85.28:8000">Affinity</a>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
          <a class="nav-link" href="https://github.com/yh2866/E6893-Big-Data-Project">GitHub</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="https://www.youtube.com">YouTube</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="http://www.google.com">Report</a>
          </li>
        </ul>
      </nav>
    </header> -->



<!-- <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">E6893 Big Data Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./map">Map <span class="sr-only">(current)</span></a>
            </li>
            <div class="btn-group">
              <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LDA
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="./iPhone-LDA">iPhone</a>
                <a class="dropdown-item" href="./iPad-LDA">iPad</a>
                <a class="dropdown-item" href="./AirPods-LDA">Airpod</a>
                <a class="dropdown-item" href="./Watch-LDA">Apple Watch</a>
              </div>
            </div>
          </ul>
        </div>
      </nav>
    </header> -->

<!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">E6893 Big Data Project</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="./map">Map</a></li>
      </ul>
      <div class="btn-group">
              <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LDA
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="./iPhone-LDA">iPhone</a>
                <a class="dropdown-item" href="./iPad-LDA">iPad</a>
                <a class="dropdown-item" href="./AirPods-LDA">Airpod</a>
                <a class="dropdown-item" href="./Watch-LDA">Apple Watch</a>
              </div>
            </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/yh2866/E6893-Big-Data-Project">GitHub</a></li>
        <li><a href="https://www.youtube.com/watch?v=dmbmz1pz-X8&t=109s">YouTube</a></li>
        <li><a href="http://www.google.com">Report</a></li>
      </ul>
    </div>
  </div>
</div> -->





  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Twitters
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Product Name
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Poverty Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Characters
              </div>
              <div class="chart-stage">
                <div id="poverty-level-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Poverty Pie -->

        </div>
      </div>

      <!-- Map -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Distribution of Twitters
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Twitters
          </div>
          <div class="chart-stage">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
<!--       <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div> -->
      <!-- Metric 2 -->

    </div>


  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>
</body>
</html>
