
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="https://getbootstrap.com/favicon.ico"> -->

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/carousel/carousel.css" rel="stylesheet">


  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="./">E6893 Big Data Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./map">Map <span class="sr-only">(current)</span></a>
            </li>
            <div class="btn-group">
              <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LDA
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="./iPhone-LDA">iPhone</a>
                <a class="dropdown-item" href="./iPad-LDA">iPad</a>
                <a class="dropdown-item" href="./AirPods-LDA">Airpod</a>
                <a class="dropdown-item" href="./Watch-LDA">Apple Watch</a>
              </div>
            </div>
            <li class="nav-item active">
              <a class="nav-link" href="http://35.196.85.28:8000">Affinity</a>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
          <a class="nav-link" href="https://github.com/yh2866/E6893-Big-Data-Project">GitHub</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="https://www.youtube.com">YouTube</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="http://www.google.com">Report</a>
          </li>
        </ul>
      </nav>
    </header>
    

    

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img src="https://s3.amazonaws.com/bigdata-yh2866/111.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Target customers</h2>
            <p>Visualizing timeline, location, device and interests of the twitter users.</p>
            <p><a class="btn btn-secondary" href="./map" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="https://s3.amazonaws.com/bigdata-yh2866/222.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Ad Content</h2>
            <p>Topic modeling and sentiment analysis of the tweets and their visualization.</p>
            <p><a class="btn btn-secondary" href="./iPhone-LDA" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="https://s3.amazonaws.com/bigdata-yh2866/333.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Influencer</h2>
            <p>Social network analysis to find the influential twitter users as the advertisers.</p>
            <p><a class="btn btn-secondary" href="http://35.196.85.28:8000" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Where they live by state.</h2>
            <p class="lead">So that we can target users in some particular places or create highly specific ads for a place.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://s3.amazonaws.com/bigdata-yh2866/1.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">What specific device they use.</h2>
            <p class="lead">For example, iPhone users might be interested in a bluetooth earphone. If we dig into the data, we can find behavioral differences between iOS and Android users.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://s3.amazonaws.com/bigdata-yh2866/2.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">What are their Interests?</h2>
            <p class="lead">Twitter is all about community, and interest targeting lets us tap into those communities by targeting whatever your audience is most passionate about. If the brand is particularly active in one or more interest categories, you can use that in your advertising.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://s3.amazonaws.com/bigdata-yh2866/3.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Identify influential users as the advertiser.</h2>
            <p class="lead">To find some of the best influencers on Twitter to send the ads,  who will also help a brand engage more effectively with the target audience.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://s3.amazonaws.com/bigdata-yh2866/4.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <!-- <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
